<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <div class="border">
            <div class="header">
                <h1 class="word">Register</h1>
            </div>

            <form action="/register" method="POST">
                <div class="msg">{{ msg }}</div>

                <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox" required>

                <input id="password" name="password" type="password" placeholder="Enter your password" class="texbox" required>

                <input id="email" name="email" type="email" placeholder="Enter your email" class="textbox" required>

                <input type="submit" value="Sign Up" class="btn">
            </form>

            <p class="bottom">
                Already have an account?
                <a href="/login">Sign In here</a>
            </p>
        </div>
    </div>
</body>
</html>
